@use '../variables'
@use '../mixins'

#header
    @include mixins.center
    width: 100%

    h1
        text-align: center
        color: variables.$text-color-primary
        font-size: 4rem
        padding: 1rem 0
