@use '../variables'
@use '../mixins'

section
    width: 100%
    padding: 20px

    #pokedex-header
        display: flex
        justify-content: space-between
        color: variables.$text-color-primary
        font-size: 16pt
        margin: 2rem 0

    #pokedex-grid
        display: grid
        gap: 10px
        grid-template-columns: repeat(3 , 1fr)
