@use './variables'

@mixin center
    display: flex
    justify-content: center
    align-items: center

@mixin btn
    padding: 1rem 1.2rem
    color: $text-color-primary
    background: $bg-color-tertiary
    text-decoration: none
    border-radius: 3rem
